[Unit]
Description=Drogon Website Server
After=syslog.target network.target

[Service]
User=drogonwebsite
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
WorkingDirectory=/usr/share/drogon_website/bin
ExecStart=/usr/share/drogon_website/bin/drogon_website

# Hardening
PrivateTmp=true
ProtectSystem=full
ProtectHome=read-only
# Enable this as long as there's no JIT in the server
MemoryDenyWriteExecute=true

# Log to systemd
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
